doctype html
html
  head
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Anton')
    link(rel='stylesheet', href='stylesheets/custom.css')
  body
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h1.head_title WhoamI Express App
          hr
          p.bg-success IP address:
          p Operating system
